---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About US">
    <p>Soy Alejandro Rosales, inversor y divulgador financiero con más de 2 años de experiencia documentando el camino hacia la libertad financiera. A través de mi blog y mi canal de YouTube, lidero una comunidad dedicada a democratizar las inversiones y planificar una jubilación digna. Mi enfoque se basa en la transparencia, compartiendo estrategias reales para superar el ajetreo diario y alcanzar la independencia económica mediante el aprendizaje colectivo.</p>

    <p>Con más de 10 años de experiencia en el desarrollo de startups, estoy en constante búsqueda de un futuro mejor. Mi enfoque va más allá de mejorar mis habilidades de inversión; quiero ser una fuerza positiva para impulsarte en lograr la libertad financiera y a tu startup la puedo ayudarla ser más productiva</p>

    <p>En el ámbito personal, soy padre de familia comprometido con educar a mi hijo con los mejores valores y enseñarle el poder de la educación financiera.</p>

    <p>Mi propuesta de valor es simple pero poderosa: puedo ayudarte a transformar tus finanzas personales, elevando tu calidad de vida. Para startups, mi experiencia en liderazgo y gestión de equipos puede catalizar procesos de mejora, tanto en desarrollo como en el manejo eficiente del personal.</p>

    <p>Acompáñame en esta emocionante travesía hacia el éxito financiero y la realización personal. Juntos, podemos construir un futuro financiero sólido y exitoso.</p>

  </Page>
</Base>
